#main {
  background-color: black;
  height: 80px;
  border-radius:0px;
  overflow: hidden;
}

#icon {
  margin-top: -10px;
  width: 70px;
  height: 70px;
}

.col-sm-4{
  margin-top: 13px;
  position: absolute;
  right: 0px;
  padding: 10px;
}
#searchButton {
  margin-top: 0px;
  border: none;
  font-size: 20px;
  background-color: black;
  color: white;
  font-family: Roboto,
    sans-serif;
  height: 34px;
}

#searchButton:hover {
  margin-top: 0px;
  height: 34px;
  border: none;
  font-size: 20px;
  background-color: white;
  color: black;
  font-family: Roboto,
    sans-serif;
}